body {
    margin: 0;
}

#ControlPanel {
    background-color: var(--lightbg-color);
    box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.13);
    margin: 10%;
    margin-top: 2%;
    padding: 3% 5%;
    text-align: center;
    border-style: solid;
    border-color: var(--detail-color);
    border-width: 3px;

}

h1 {
    margin-bottom: 5%;
}

#CPbuttons {
    display: flex;
    justify-content: space-between;

}

#CPbuttons button {
    width: 10%;
    border-style: none;
    border-radius: 2px;
    background-color: whitesmoke;
    padding: 1%;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.103);

}


#CPbuttons button:hover {
    background-color: var(--bg-color);

}

#CPbuttons button.selected {
    border-style: solid;
    border-color: var(--detail-color);
    border-width: 3px;


}

#Main {
    width: 100%;
    background-color: var(--lightbg-color);
}

.TBAffichage {
    padding: 1%;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

td {
    height: 5vh;
    font-size: 1.2em;
    border: 1px solid var(--detail-color);
    text-align: center;
    vertical-align: middle;

}

td button {
    padding: 3%;
    border-radius: 5px;
    font-weight: bolder;
}

.Supprimer {
    background-color: #ff4040;
    border-style: none;
}
#BoxButton{
    text-align: center;
}
#AddButton{
    margin-bottom: 5%;
    padding: 1% 2%;
    font-size: 1.5em;
    background-color: var(--bg-color);
}
.Desc{
    height: 5vh;
    background-color: var(--bg-color);
}

.description{
    height: 5vh;
    width: 30vw;
    padding: 0 3%;
    overflow: hidden;
}