main {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

#cart-items {
    width:60%;
  
}

#cart-action {
    position: sticky;
    width: 25%; 
    height: 500px;
    border: 3px solid black;
}

#cart-buttons{
  width: 100%;
}
#cart-buttons button{
    background-color: red;
    border-style: none;
    width: 100%;
    padding: 5% 0;
    font-size: 2em;
    margin-top: auto;
}


#cart-items table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5em;
    border: 4px solid black;
}
#cart-items  td {
    border: 3px solid ;
    text-align: center;
    vertical-align: middle;
    border-color: var(--detail-color) rgba(0, 0, 0, 0);

}
#cart-items .TdImage{
    width: min-content;
}

#cart-items .TdDesc{
   font-size: 0.75em;
   padding: 0;
   margin: 0;
}

#cart-items .imageCart{
    width: 10vw;
}
#cart-items .Tdbg{
    height: 5vw;
    background-color: var(--bg-color);
}

#cart-action table{
    width: 100%;
    font-size: 1.5em;
    border-collapse: collapse;
}

#cart-action td{
   border: 2px solid black;

}