:root {
    --detail-color: #0a460a;
    --hover-color: #27c422;
    --bg-color: #c0ffd8;
    --lightbg-color: #eeffeb;
}

header {
    user-select: none;
    padding: 3%;
    font-weight: bolder;
    display: flex;
    font-size: 2em;
    background-color: var(--bg-color);
    color: var(--detail-color);
    border-style: solid;
    border-color: var(--detail-color);
    margin: 0;

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header a,
header a:visited,
#OptionMobile a,
#OptionMobile a:visited {
    color: var(--detail-color);
    text-decoration: none;
}

header a:hover,
header a:visited:hover,
header i:hover,
#OptionMobile a:hover,
#OptionMobile a:visited:hover,
#OptionMobile i:hover {
    color: var(--hover-color);
}

header #SearchBar {
    display: none;
    position: relative;
    bottom: 3px;
}

header #SearchHide {
    display: none;
    position: relative;
    top: 4px;
    left: 7px;
}

header #SearchIcon {
    position: relative;
    top: 5px;
    left: 7px;
    cursor: pointer;
}

#User {
    cursor: pointer;
}

#popup {
    user-select: none;
    display: none;
    background-color: #2e2e2e62;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 60%;
    height: 90%;
    padding: 20%;
    padding-top: 5%;
    z-index: 100;
}

#popup-Content {
    text-align: center;
    background-color: white;
    padding: 10%;
    padding-top: 5%;
    border-radius: 10px;
    z-index: 100;
}

#close-popup {
    position: absolute;
    left: 75%;
}

#login-form input ,#register-form input{
    width: 50%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
}

#login-form input.BtSubmit,#register-form input.BtSubmit{
    margin-top: 5%;
    border-bottom: 0;
    background-color: var(--bg-color);
    border-radius: 5px;
    font-weight: bold;

}

#login-form label.LabelForm ,#register-form label.LabelForm{
    font-size: 2em;
}

#BtToggleConnec {
    margin-top: 5%;
    border: 0;
    padding :3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: var(--bg-color);
    border-radius: 5px;
    font-weight: bold;
}

#OptionMobile {
    background-color: var(--bg-color);
    color: var(--detail-color);
    border-style: solid;
    border-color: var(--detail-color);
    position: fixed;
    padding: 5%;
    bottom: 0;
    width: 88.5%;
    display: flex;
    justify-content: space-around;
}

#SearchBarMobile {
    display: none;
    position: fixed;
    bottom: 8%;
    width: 95%;
    height: 3%;
    border-style: solid;
    border-color: var(--detail-color);
    margin: 0;
    left: 1%;
}

#SearchHideMobile {
    display: none;

}

#OptionMobile{
    z-index: 100;
}

/* Version Mobile */
@media screen and (max-width: 800px) {
    header {
        font-size: 2em;
    }

    footer {
        margin-bottom: 13%;
    }

    body {
        font-size: 50%;
    }

    #boxAddr {
        font-size: 70%;
    }

    #WideScreenView {
        display: none;
    }

    header {
        justify-content: space-around;
    }
}

/* Version PC*/
@media screen and (min-width: 800px) {
    header {
        justify-content: space-between;
    }

    #MobileScreenView {
        display: none;
    }

    #OptionMobile {
        display: none;
    }
}